.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    float: right;
    -ms-text-combine-horizontal:digits;
  }
  
  .input-wrapper input:focus {
    outline-color: rgb(167, 164, 164);
  }

  .input-wrapper {
    margin-bottom: 20px;
}

.table-responsive {
    margin-top: 20px;
}

th.thdata {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.clickable a {
    text-decoration: none;
    color: inherit;
}

